/*Global css*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
}
/*Global css*/

/*header css*/
header{
	background-color: #fff;
	padding: 15px 10px;
}
header::after{
	content: '';
	display: block;
	clear: both;
}
header .brand-name{
	width: 25%;
	float: left;
}
header .brand-name img{
	margin-top: 2px;
}
header nav{
	width: 75%;
	float: left;
}
header nav ul{
	list-style-type: none;
	text-align: right;
}
header nav ul li{
	display: inline;
}
header nav ul li a{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #435667;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 19px 22px;
}
header nav ul li a:hover{
	color: #166DBC;
	font-weight: 600;
}
.toggle {
	font-family: sans-serif;
	font-weight: 600;
	color: blueviolet;
	font-size: 15px;
	position: absolute;
	right: 15px;
	top: 34px;
	display: none;
	cursor: pointer;
}
/*header css*/

.section{
	padding: 100px 15px;
	text-align: center;
}
.section a{
	font-size: 20px;
	text-transform: uppercase;
}

/*Responsive*/
@media all and (max-width: 991px){
	.toggle{
		display: block;
	}
	header{
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	header .brand-name{
		width: 100%;
		float: none;
	}
	header nav{
		width: 100%;
		float: none;
		position: absolute;
		left: -100%;
		transition: 0.5s; 
	}
	header nav.active{
		left: 0px;
	}
	header nav ul{
		text-align: left;
		margin-top: 30px;
	}
	header nav ul li a{
		display: block;
		text-align: center;
		padding: 15px 15px;
	}
}
/*Responsive*/