/*Global css*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
}
/*Global css*/

/*header css*/
header {
	background-color: #000;
}
header::after{
	content: '';
	display: block;
	clear: both;
}
header .brand-name {
	width: 25%;
	float: left;
}
header .brand-name a {
	font-family: sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-decoration: none;
	color: #CD2930;
	display: inline-block;
	padding: 14px 15px;
}
header nav {
	width: 75%;
	float: left;
}
header nav ul {
	list-style-type: none;
	text-align: right;
}
header nav ul li {
	display: inline;
}
header nav ul li a {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #CD2930;
	text-decoration: none;
	padding: 20px 20px;
	display: inline-block;
	transition: all 0.5s ease;
}
header nav ul li a:hover{
	background-color: #CD2930;
	color: #000;
}
.toggle {
	color: #fff;
	font-family: sans-serif;
	font-weight: 600;
	position: absolute;
	right: 60px;
	top: 22px;
	display: none;
	cursor: pointer;
}
.section{
	padding: 100px 15px;
	text-align: center;
}
.section a{
	font-size: 20px;
	text-transform: uppercase;
}

/*header css*/

/*Responsive*/
@media all and (max-width: 991px){
	.toggle{
		display: block;
	}

	header .brand-name{
		width: 100%;
		float: none;
		padding-left: 30px;
	}
	header nav{
		width: 100%;
		float: none;
		position: absolute;
		left: -100%;
		transition: 0.5s; 
	}
	header nav.active{
		left: 0px;
	}
	header nav ul{
		text-align: left;
		background-color: #000;
	}
	header nav ul li a{
		display: block;
		text-align: center;
	}

	
}
/*Responsive*/

